/*Clases de Bootstrap Editadas*/
.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}

.form-control:focus {
    background-color: #fff;
    box-shadow: none;
    border: 2px solid #007bff6b;
}

.form-control {
    font-size: 1rem;
    border: 1px solid #e6e6e6;
}

input.form-control{
    font-size: 20px;
    border: 1px solid #e6e6e6;
}



/*Clases Creadas*/

.formContainer{
    background: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0px 10px 15px #d0d0d0;
    border-radius: 0px 20px 20px 20px;
}

.buttonContainer{
    width: 100%;
    text-align: right;
}