.listContainer{
    border-radius: 20px;
}

.listTitle{
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
}

.descriptionContainer{
    background: #fff;
    box-shadow: -5px 8px 20px #d0d0d0;
    border: 1px solid #c3c3c35e;
    border-radius: 10px;
    padding: 15px 30px;
    color: #696969ad;
}